#counted-statistics {
  @include flex(row, center, space-between);
  flex-wrap: wrap;
}

#graph {
  @include flex(column, flex-start, center);
  width: 100%;
  margin: 70px 0;
}

#actionable-list {
  width: 100%;
}
